body {
    background-color:#ffffff;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

td{
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}

.table_label{
    float:left;
}

.table_count{
    float:right;
}

#notifications{
    float:right;
}

#popup{
    position:absolute;
    border:2px solid #a1a1a1;
    background: #dddddd;
    padding-right:2px;
    padding-left:2px;
}

#flavor_text{
    font-size: 12px;
    font-style:italic;
}

#main_body{
    height: calc(100% - 1000px);
}

#footer_bar{
    position: fixed; 
    bottom: 0px; 
    left: 0px;
    padding-left: 5px;
    width: 100%;
    height: 27px;
    margin: 0;
    background-color:#FFFFFF;
}

#footer_copy{
    float:left;
    width: 100%;
    height: 32px;
    background-color:#FFFFFF;
}

#save_buttons{
    float:left;
}
#autosaving{
    float:left;
}

#credits{
    position: fixed; 
    right:15px;
}

#export_popup{
    position:absolute;
    left: 5px;
    bottom: 30px;
    width: 400px;
    height: 70px;
    border: 2px solid #aaaaaa;
    background-color: #dddddd;
    word-wrap: break-word;
    overflow: scroll;
    -moz-user-select: text; 
    -webkit-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

#donate_popup{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    width: 500px;
    height: 100px;
    border: 2px solid #aaaaaa;
    background-color: #dddddd;
    -moz-user-select: text; 
    -webkit-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

button{
    width:156px;
    height:23px;
    border:2px solid #aaaaaa;
    background-color:#dddddd;
    margin:1px;
}

.count{
    height:42px;
}

.large_button{ /* Must match button appears size*/
    height:46px;
}

.end_game_button{ /* Must match button appears size*/
    height:46px;
    margin-left: 240px;
}

.tab_button{ 
    width:65px; /* Must match button appears size*/
    margin:0px;
    border-style: solid;
    border-bottom-color: #dddddd;
}

.foot_button{
    width:56px; /* Must match button appears size*/
    border:1px solid #aaaaaa;
    background-color:#FFFFFF;
}

#cover_frame{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    background-color: black
}

.end_text_box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
}

.end_text{
    font-family: "Times New Roman";
    font-size: medium;
    letter-spacing: 0px;
    color: white;
}

.red{
    background-color: #EE0000;
}

.green{
    background-color: #00FF00;
}

.grey_green{
    background-color: #AAFFAA;
}

.yellow{
    background-color: #FFFF00;
}

.black{ /* unique color */
    background-color: #000000;
    color: white;
}

.close_button{

}

.animation{
    position: absolute;
    pointer-events:none;
}