body {
background-color:#ffffff;
-moz-user-select: none; 
-webkit-user-select: none; 
-ms-user-select: none; 
user-select: none;
}

td{
border-left: 1px solid #a1a1a1;
border-right: 1px solid #a1a1a1;
border-top: 1px solid #a1a1a1;
border-bottom: 1px solid #a1a1a1;
}

.table_label{
float:left;
}

.table_count{
float:right;
}

#notifications{
float:right;
}

#popup{
position:absolute;
border:2px solid #a1a1a1;
background: #dddddd;
}

#flavor_text{
font-size: 12px;
font-style:italic;
}

#main_body{
height: calc(100% - 1000px);
}

#footer_bar{
position: fixed; 
bottom: 0px; 
width: 100%;
height: 27px;
margin: 0;
background-color:#FFFFFF;
}

#footer_copy{
float:left;
width: 100%;
height: 32px;
background-color:#FFFFFF;
}

#save_buttons{
float:left;
}
#autosaving{
float:left;
}

#credits{
position: fixed; 
right:15px;
}

#export_popup{
    position:absolute;
    left: 5px;
    bottom: 30px;
    width: 400px;
    height: 70px;
    border: 2px solid #aaaaaa;
    background-color: #dddddd;
    word-wrap: break-word;
    overflow: scroll;
    -moz-user-select: text; 
    -webkit-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

button{
width:150px;
height:23px;
border:2px solid #aaaaaa;
background-color:#dddddd;
margin:1px;
}

.count{
height:42px;
}

.tab_button{
width:50px; 
margin:0px;
border-style: solid;
border-bottom-color: #dddddd;
}

.foot_button{
    width:56px; 
    border:1px solid #aaaaaa;
    background-color:#FFFFFF;
}